<%- include('partials/header') %>
  <div class="container flex">
  
    <h1 class="display-3">Read Your Favourite Book</h1>
    <p class="lead">Books are Best Friends</p>
    <hr>
     <div class="btn-log">
      <a class="btn btn-lg" href="/login" role="button">Login</a>
     </div>
     <div class="p-reg">
      <p>Are u new to this page? <a class="btn-reg" href="/register">Register</a></p>
     </div>
  </div>

<%- include('partials/footer') %>
