<%- include('partials/header') %>

<div class="container mt-5">
  <center><h1>Login</h1></center>

  <div class="row">
    <div class="col-sm-8 log">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form class="form flex" action="/login" method="POST">
            <div class="form-group">
              <input  type="email" class="form-control font" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control font" name="password" placeholder="password">
            </div>
           <div class="btn-log">
            <button  type="submit" class="btn font">Submit</button>
           </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
